
import React from 'react'

export interface {{pascalCase name}}Props {

}


export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
	// TODO
	return <div>{{pascalCase name}}</div>
}